<h1>New Note</h1>

<form role="form" ng-submit="ctrl.createNote(ctrl.newNote)" novalidate>
  <fieldset class="form-group">
    <label for="newNoteTitle">Title</label>
    <input type="text" id="newNoteTitle" name="newNoteTitle" class="form-control" ng-model="ctrl.newNote.title"/>
  </fieldset>
  <fieldset class="form-group">
    <label for="newNoteDescription">Description</label>
    <input type="text" id="newNoteDescription" name="newNoteDescription" class="form-control" ng-model="ctrl.newNote.description"/>
  </fieldset>
  <fieldset class="form-group">
    <label for="newNoteContent">Content</label>
    <textarea class="form-control" rows="3" id="newNoteContent" name="content" ng-model="ctrl.newNote.content"></textarea>
  </fieldset>

  <button type="submit" class="btn btn-info ">Create</button>
  <a class="btn btn-default" ng-click="ctrl.cancelUpdate()">Cancel Create</a>

</form>